header {
    @media (max-width: 576px) {
        flex-direction: column;
        align-items: center;
        gap: 1em;
        min-height: auto;
    }

    display: flex;
    min-height: 40px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 12px 21px;

    button {
        background: rgb(67, 39, 245);
        border-radius: 4px;
        padding: 8px 15px;
        border: none;
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        height: 30px;
        width: auto;
        cursor: pointer;
    }

    button:hover {
        outline: 1px rgb(129, 129, 129) solid;
    }

    p {
        color: #fff;
        margin: 0;

        font-weight: 900;
        font-stretch: expanded;
    }

    .info-right {
        @media (max-width: 576px) {
            margin-left: unset;
            margin-right: unset;
        }

        margin-left: auto;
        display: flex;
        margin-right: 1em;
        color: #636465;

        .alert {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            border: 1px solid #636465;
        }

        .underline {
            text-decoration: underline;
            color: #fff;
            margin: 0 .5em;
        }



    }
}