.App {
    display: flex;
    flex-direction: column;
    height: 100vh;


    main {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 0 21px;
        padding-bottom: 20px;
    }
}